<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director&.name %>
  </p>

  <p>
    <strong>Locations:</strong>
    <% movie.locations.each do |location|%>
      <%= location&.name %>
      <br/>
    <% end %>
  </p>

  <p>
    <strong>Actors:</strong>
    <% movie.actors&.each do |actor|%>
      <%= actor&.name %>
      <br/>
    <% end %>
  </p>

  <p>
    <strong>Average Rating:</strong>
    <%= movie.average_rating %>
  </p>

</div>
