<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director&.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= movie.location&.name %>
  </p>

</div>
