<div id="<%= dom_id review %>">
  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= review.stars %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= review.movie_id %>
  </p>

</div>
